name: Build and Deploy to Nuget

on:
  push:
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - main

jobs:
  build:
    env:
      BUILD_CONFIG: 'Release'
      SOLUTION: 'EfLight.sln'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Build
        run: dotnet build --configuration ${{ env.BUILD_CONFIG }} ${{ env.SOLUTION }}

      - name: Package
        run: >
          dotnet pack --no-restore --no-build --configuration ${{ env.BUILD_CONFIG }}
          -p:PackageVersion=${{ github.ref_name }} --output .

      - name: Publish
        run: >
          dotnet nuget push PackageUtils.${{ github.ref_name }}.nupkg
          -s https://nuget.pkg.github.com/reniciuspagotto/index.json
          -k ${{ secrets.NUGET_API_KEY }}

  


    